.account-uppdate{
  text-align: center;
}

.account-uppdate h3{
  color: #FFF;
  margin-top: 50px;
}

.account-uppdate input{
  display: block;
  margin-bottom: 20px;
}

.account-uppdate .card-form{
  margin-top: 20px;
  padding: 20px;
}
