.basket{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  font-size: 1.2em;
}

.item{
  background-color: #FFF;
  margin-bottom: 5px;
  height: 200px;
  position: relative;
}

.item .product-info{
  overflow: hidden;
  padding: 10px 30px;
}

.item #remove-item{
  position: absolute;
  right: 5px;
  top: 0;
}

.item img {
  display: inline-block;
  height: 100%;
  float: left;
}

.item h3{
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 10px;
}

.item .quantity{
  margin-right: 20px;
}

.item .quantity a{
  font-size: 2em;
  margin: 0;
}

.item a{
  font-size: 1.7em;
  margin-top: 5px;
  margin-right: 5px;
  transition: all .1s ease;
}

.item a:hover{
  color: #F06161;
}


.item input{
  border: 1px solid #AAA;
  width: 30px;
  padding: 0 3px;
  box-shadow: none;
  text-align: center;
}

.basket .basket-summary{
  max-width: 800px;
  background-color: #FFF;
  position: relative;
}

.basket .basket-summary h4{
  font-size: 1em;
  margin-bottom: 10px;
  color: #333;
  padding: 20px;
  text-align: right;
  background-color: #DDD;
}

.basket .button-big{
  color: #FFF;
  background-color: #7BCD71;
  border: 2px solid #7BCD71;
  margin: 0;
}

.basket .checkout{
  display: block;
  max-width: 800px;
  float: right;
}

.basket .checkout:after{
  content:"";
  display:table;
  clear:both;
}

/******
CHECKOUT
********/
.checkout-form{
  box-sizing: border-box;
  max-width: 800px;

  background-color: #FFF;
  margin: 0 auto;
  padding: 20px;
  visibility: hidden;
}

.checkout-form input{
  display: block;
  background-color: #EEE;
  border: 1px solid #AAA;
  box-shadow: none;
  transition: all .5s ease;
}

.checkout-form input:focus{
  border: 1px solid #AAA;
  background-color: #FFF;
}

.checkout-form label{
  display: block;
}

.row .col{

}

.row:last-child:after{
  display: block;
  clear: both;
  content: "";
}

.checkout-form input[type = 'checkbox']{
  font-size: 1em;
  padding: 0;
  margin: 0;
  width: 25px;
  display: inline-block;
}

.checkout-form a{
  display: block;
}

.checkout-form #confirm{
  margin-bottom: 20px;
}
