.basket{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  font-size: 1.2em;
  padding-bottom: 200px;
}

.basket .item{
  background-color: #FFF;
  margin-bottom: 5px;
  height: 200px;
  position: relative;
}

.basket .item .product-info{
  overflow: hidden;
  padding: 10px 30px;
}

.basket .item #remove-item{
  position: absolute;
  right: 5px;
  top: 0;
}

.basket .item img {
  display: inline-block;
  height: 100%;
  float: left;
}

.basket .item h3{
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 10px;
}

.basket .item .quantity{
  margin-right: 20px;
}

.basket .item .quantity a{
  font-size: 2em;
  margin: 0;
}

.basket .item a{
  font-size: 1.7em;
  margin-top: 5px;
  margin-right: 5px;
  transition: all .1s ease;
}

.basket .item a:hover{
  color: #F06161;
}


.basket .item input{
  border: 1px solid #AAA;
  width: 30px;
  padding: 0 3px;
  box-shadow: none;
  text-align: center;
}

.basket .basket-summary{
  max-width: 800px;
  background-color: #FFF;
  position: relative;
}

.basket .basket-summary h4{
  font-size: 1em;
  margin-bottom: 10px;
  color: #333;
  padding: 20px;
  text-align: right;
  background-color: #DDD;
}

.basket .button-big{
  color: #FFF;
  background-color: #7BCD71;
  border: 2px solid #7BCD71;
  margin: 0;
}

.basket .checkout{
  max-width: 800px;
  float: right;
}

/******
CHECKOUT
********/
.modal{
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
}

.modal .window{
  width:300px;
  margin: 100px auto;
  background-color: #fff;
  border:1px solid #000;
  padding:15px;
  text-align:center;
}
