.info-product{
  margin-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px 10px 20px;
}

.info-product img{
  display: block;
  width: 100%;
}

.info-product .info{
  box-sizing: border-box;
  height: 400px;
  background-color: #FFF;
  padding: 20px;
  height: 100%;
}

.info-product .info h3{
  font-size: 2em;
  margin-bottom: 10px;
  max-width: 500px;
}


.info-product .price{
  color: black;
  font-weight: 400;
  text-align: right;
  font-size: 4em;
}

.info-product .button-big{
  margin: 0;
  max-width: none;
  font-size: 2em;
  border: 2px solid #7BCD71;
  color: #7BCD71;
}

.info-product .button-big:hover{
  background-color: #7BCD71;
  color: #FFF;
}

.info-product .quantity{
  text-align: right;
  margin: 10px 0;
}

.info-product .meat-score{
  float: right;
}

.info-product .meat-score span{
  font-weight: 400;
}

.info-product .rating{
  color: #FFF;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 1.2em;
  font-weight: 400;
  background-color: #F06161;
  margin:0 10px 0 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.info-product .rating:hover{
  transform: scale(1.1);
}



/***************
REVIEWS
****************/
.reviews {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  height: 600px;
  padding: 20px;
  padding-top: 0;
}

.reviews h2{
  color: #333;
  text-align: center;
  margin: 10px 0 5px 0;
}

.reviews .review{
  width: auto;
  height: 100px;
  background-color: #FFF;
}

.reviews .writereview{
  margin-top: 10px;
  width: auto;
  padding: 20px;
  background-color: #FFF;
}

.reviews .writereview h2{
  margin-bottom: 5px;
  font-size: 2em;
text-align: left;

}
.reviews .writereview button{
  margin-top: 5px;
  color: #FFF;
  background-color: #7BCD71;
  border: #FFF;

}
.reviews .writereview textarea{
  box-shadow: none;
  width:100%;
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
  height: 120px;
  font-size: 1.1em;
  font-weight: 300;
  background-color: #FFF;
}

#submitComment{
  display: inline-block;
}

#error-message{
  display: inline-block;
  color: #F06161;
  margin-left: 20px;
  font-weight: 700;
}

#deleteComment{
  background-color: #F06161;
  display: none;
}

.reviews .comments{
  width: auto;
}

.reviews .comments .comment{
  background-color: #FFF;
  padding: 20px;
}

.reviews .comments .comment .button-big{
  float: right;
  color: #FFF;
  background-color: #F06161;
  font-size: 0.9em;
  font-weight: 600;
}

.reviews .comments .comment:after{
  clear: both;
  content: " ";
  display: block;
}

.reviews .comments .comment p{
  font-size: 1.1em;
  font-weight: 300;
}


.reviews .comments .comment h3{
  color: #666;
}
