
/************
Resets
*************/
body {
  margin: 0;
  background-color: #F06161;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

ul,
li{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4{
  padding: 0;
  margin: 0;
}

p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}











/************
Defaults
*************/
html {
  font-family: 'Open Sans', sans-serif;
}


h1{
  color: #FFF20E;
  font-size: 4.5em;
  font-weight: 600;
}

h2{
  font-size: 2.8em;
  color: #7BCD71;
}

h3{
  color: black;
  font-weight: 600;
  font-size: 1.2em;
}

span{
  font-weight: 300;
}

label{
  font-size: 0.9em;

}

input{
  color: #444;
  padding-left: 10px;
  font-size: 16px;
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  transition: all ease .1s;
  border: solid 2px transparent;

}

input:focus{
  outline: none;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(105,105,105,1);
  -moz-box-shadow: 0px 1px 5px 1px rgba(105,105,105,1);
  box-shadow: 0px 1px 5px 1px rgba(105,105,105,1);
}

button{
  width: 210px;
  outline: none;
  display: block;
  font-size: 1em;
  font-weight: 400;
  color: #FFF;
  padding: 8px 35px 8px 30px;
  text-decoration: none;
  background-color: #F06161;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
  border: 2px solid #F06161;
}

button:hover{
  background-color: #D95757;
}

button:focus{
  background-color: #D95757;
}

.container{
  width: 960px;
  margin: 0 auto;
}



/************
Components
*************/

.button-small{
  display: block;
  max-width: 100px;
  font-size: 0.9em;
  font-weight: 400;
  color: #FFF;
  padding: 4px 15px 4px 15px;
  text-decoration: none;
  background-color: #FFF;
  color: #F06161;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
  border: 2px solid #FFF;
  outline: none;
}

.button-small:hover{
  background-color: transparent;
  border: 2px solid #FFF;
  color: #FFF;
}

.button-big{
  max-width: 200px;
  text-align: center;
  outline: none;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 400;
  color: #FFF;
  padding: 8px 35px 8px 30px;
  text-decoration: none;
  color: #F06161;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
  border: 2px solid #F06161;
}


.button-big:hover{
  background-color: #F06161;
  color: #FFF;
}

.row-3{
  margin: 50px auto;
  text-align: center;
}


.col{
  display: inline-block;
  margin-right: 50px;
}

.col:last-child{
  margin-right: 0;
}

@media (max-width: 1020px) {
  .row-3{
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  .col{
    display: block;
    margin-top: 40px;
    margin-right: 0;
  }

}

@media (max-width: 400px) {
  .row-3{
    display: block;
    width: 250px;
    margin: 0 auto;
  }
}

.sidebar{
  position: fixed;
  background: #FFF;
  width: 200px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(105,105,105,0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(105,105,105,0.5);
  box-shadow: 0px 0px 5px 2px rgba(105,105,105,0.5);

}














.wrapper{
  width: auto;
  overflow: auto;
  position: relative;
}


/************
Home Page
*************/
.company-title{

}

header{
  text-align: center;
}

header h3{
  color: #FFF;
  font-size: 1.8em;
  font-weight: 300;
  margin-top: -20px;
}

header h1{
  color: #FFF20E;
  font-size: 6em;
}

@media (max-width: 590px) {
  header h1{
    color: #FFF20E;
    font-size: 4em;
  }
  header h3{
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  header h1{
    color: #FFF20E;
    font-size: 3em;
  }
  header h3{
    font-size: 0.9em;
    margin-top: -5px;
  }
}

header .company-title a:focus{
  outline: none;
}

header .company-title span{
  color: #FFF;
}

.card-form{
  text-align: left;
  padding: 10px 20px 20px 20px;
  margin-top: 90px;
  display: inline-block;
  background-color: rgba(106, 106, 106, 0.5);
  border-radius: 5px;
  border: 2px solid #F06161;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(105,105,105,0.5);
  -moz-box-shadow: 0px 0px 4px 1px rgba(105,105,105,0.5);
  box-shadow: 0px 0px 4px 1px rgba(105,105,105,0.5);
}



/************
Sign-in
*************/
.sign-in{
  text-align: center;
  height: 500px;
}

.sign-in .card-form{
  text-align: center;
  padding-bottom: 12px;
}

.sign-in input{
  display: block;
  margin-top: 15px;
}

.sign-in button{
  margin-top: 20px;
}

.sign-in .button-big{
  margin: 40px 0 10px 0;
}

.sign-in #forgot-pass{
  color: #333;
  font-size: 0.85em;
  transition: all ease 0.1s;
}

#forgot-pass:hover{
  color: #FFF;
}



/************
Sign-up
*************/
.sign-up{
  text-align: center;
  height: 1000px;
}

.sign-up .card-form input{
  margin: 3px 0 10px 0;
}

.sign-up button{
  margin-top: 20px;
}

.sign-up .button-big{
  margin-top: 40px;
}

.sign-up input{
  display: block;
}









/************
PRODUCT PAGE
*************/

.products{
  margin-top: 100px;
}

@media (max-width: 400px) {
  .products{
    margin-top: 0;
  }
}

.product-card{
  max-width: 300px;
  background-color: #FFF;
  border-radius: 5px;
  /*
  -webkit-box-shadow: 0px 0px 10px 2px rgba(105,105,105,0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(105,105,105,0.5);
  box-shadow: 0px 0px 10px 2px rgba(105,105,105,0.5);*/
  transition: all 0.1s ease;
  border: 1px solid #CCC;
}

@media (max-width: 400px) {
  .product-card{
    max-width: 250px;
  }
}

.product-card:hover{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(105,105,105,0.5);
  -moz-box-shadow: 0px 0px 0px 0px rgba(105,105,105,0.5);
  box-shadow: 0px 0px 0px 0px rgba(105,105,105,0.5);
  transform: scale(1.02);
}

.product-card .product-info{
  text-align: left;
  padding: 10px;
}

.product-card .product-img{
  background-color: #CCC;
  max-width: 300px;
  height: 150px;
  background-image: url("../img/placeholder-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}

.product-card p{
  overflow: hidden;
  font-size: 0.9em;
  margin-bottom: 5px;
  height: 60px;
}

.product-card .button-small{
  display: inline-block;
  background-color: #F06161;
  color: #FFF;
}

.product-card .button-small:hover{
  display: inline-block;
  background-color: #D95757;
}

.product-card #buy{
  margin-top: 5px;
  width: 100%;
  background-color: #53AF59;
  border: solid 2px #53AF59;
}

.product-card #buy:hover{
  background-color: #3F9645 ;
}
