/******************

READ ME!

Document structure.
 - RESETS: Resets for elements.
 - DEFAULTS: Default options for Headers, Paragrafs, Buttons, Colors
 - COMPONENTS: Styles and components that are recurring  on the website.

Index for faster navigation (CTRL-F search)
  - RESETS
  - DEFAULTS
  - COMPONENTS
  - button-small
  - button-big
  - wrapper
  - Sideabar
  - Grid system
  - card-form
  - Header

*******************/














/************
RESETS
*************/
body {
  margin: 0;
  background-color: #F06161;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  height:100%;
  margin:0;
  padding:0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

ul,
li{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4{
  padding: 0;
  margin: 0;
}

p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}











/************
DEFAULTS
*************/
body {
  font-family: 'Open Sans', sans-serif;
}


h1{
  color: #FFF20E;
  font-size: 4.5em;
  font-weight: 600;
}

h2{
  font-size: 2.8em;
  color: #7BCD71;
}

h3{
  color: black;
  font-weight: 600;
  font-size: 1.2em;
}

span{
  font-weight: 300;
}

label{
  font-size: 0.9em;

}

input{
  color: #444;
  padding-left: 10px;
  font-size: 16px;
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  transition: all ease .1s;
  border: solid 2px transparent;

}

input:focus{
  outline: none;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(105,105,105,1);
  -moz-box-shadow: 0px 1px 5px 1px rgba(105,105,105,1);
  box-shadow: 0px 1px 5px 1px rgba(105,105,105,1);
}

textarea{
  color: #444;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  resize: none;
  width: 195px;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  font-family: 'Open Sans';
}

textarea:focus{
  outline: none;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(105,105,105,1);
  -moz-box-shadow: 0px 1px 5px 1px rgba(105,105,105,1);
  box-shadow: 0px 1px 5px 1px rgba(105,105,105,1);
}

button{
  width: 210px;
  outline: none;
  display: block;
  font-size: 1em;
  font-weight: 400;
  color: #FFF;
  padding: 8px 35px 8px 30px;
  text-decoration: none;
  background-color: #F06161;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
  border: 2px solid #F06161;
}

button:hover{
  background-color: #D95757;
}

button:focus{
  background-color: #D95757;
}





/************
COMPONENTS
*************/
.button-small{
  display: block;
  max-width: 100px;
  font-size: 0.9em;
  font-weight: 400;
  color: #FFF;
  padding: 4px 15px 4px 15px;
  text-decoration: none;
  background-color: #FFF;
  color: #F06161;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
  border: 2px solid #FFF;
  outline: none;
}

.button-small:hover{
  background-color: transparent;
  border: 2px solid #FFF;
  color: #FFF;
}

.button-big{
  max-width: 200px;
  text-align: center;
  outline: none;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 400;
  color: #FFF;
  padding: 8px 35px 8px 30px;
  text-decoration: none;
  color: #F06161;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
  border: 2px solid #F06161;
}


.button-big:hover{
  background-color: #F06161;
  color: #FFF;
}

.wrapper{
  margin-left: 200px;
  width: auto;
  position: relative;
  overflow: auto;
  z-index: 1;
}

.wrapper .menu-button{
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  position: absolute;
  background: url(../img/menu-button.svg);
  left: 20px;
  top: 20px;
  width: 29px;
  height: 22px;
  background-size: 29px 22px;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

@media (max-width: 800px){
  .wrapper .menu-button{
    display: block;
  }
}





/*Sidebar*/
.sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(105,105,105,0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(105,105,105,0.5);
  box-shadow: 0px 0px 5px 2px rgba(105,105,105,0.5);
  text-align: center;
}

.sidebar .in-basket{
  margin-left: 20px;
  color: #FFF;
  font-weight: 400;
  background-color: #F06161;
  padding: 0 15px;
  border-radius: 5px;
}

.navigation-links{
  display: inline-block;
  text-align: left;
  margin-top: 20px;

}

.navigation-links ul li{
  margin-top: 10px;
  padding: 7px;
}

.navigation-links a{
  font-weight: 600;
  font-size: 1em;
  transition: all .2s ease;
  color: #666;
}

.navigation-links a:hover{
  color: #F06161;
}

@media (max-width: 800px) {
  .sidebar{
    position: relative;
    display: block;
    width: auto;
    max-height: 0;
    overflow: hidden;
    t-webkit-transition: max-height .5s; /* Safari */
    -webkit-transition-timing-function: ease; /* Safari */
    transition: max-height .5s;
    transition-timing-function: ease;
    box-shadow: none;
  }
  .navigation-links{
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  .wrapper{
    margin-left: 0;
  }
}

.expanded{
  t-webkit-transition: max-height .5s; /* Safari */
  -webkit-transition-timing-function: ease; /* Safari */
  transition: max-height .5s;
  transition-timing-function: ease;
  max-height: 500px;
}





/*Grid system*/
.container{
  position: relative;
	padding: 10px;
}

.container ul,
.container li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.cards{
	position: relative;
	text-align: center;
}

.cards > li {
  display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 30px;
	text-align: left;
}

@media (max-width: 800px) {
  .cards > li{
    padding: 15px;
  }
}





/*Card form*/
.card-form{
  text-align: left;
  padding: 10px 20px 20px 20px;
  margin-top: 90px;
  display: inline-block;
  background-color: rgba(106, 106, 106, 0.5);
  border-radius: 5px;
  border: 2px solid #F06161;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(105,105,105,0.5);
  -moz-box-shadow: 0px 0px 4px 1px rgba(105,105,105,0.5);
  box-shadow: 0px 0px 4px 1px rgba(105,105,105,0.5);
}





/*Header*/
.company-title{
 margin-top: 20px;
}

header{
  text-align: center;
}

header h3{
  color: #FFF;
  font-size: 1.6em;
  font-weight: 300;
  margin-top: -20px;
}

header h1{
  color: #FFF20E;
  font-size: 6em;
}

@media (max-width: 800px) {
  .company-title{
    margin-top: 60px;
  }
  header h1{
    color: #FFF20E;
    font-size: 4.5em;
  }
  header h3{
    font-size: 1.2em;
    margin-top: -15px;
  }
}

@media (max-width: 440px) {
  header h1{
    color: #FFF20E;
    font-size: 3em;
  }
  header h3{
    font-size: 0.9em;
    margin-top: -5px;
  }
}

header .company-title a:focus{
  outline: none;
}

header .company-title span{
  color: #FFF;
}
